*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}
body{
    margin:0 auto;
    max-width:1024px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans',sans-serif;
    color: black;
    background-color:white;
}
p{
    font-weight: 100;
}

.wrap{
    background-color: whitesmoke;
}
ul{
    list-style: none;
    padding-left:0;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color:black;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: auto;
    padding: 20px 20px;
    height: 100px;
    background-color:000;
}
nav{
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    background-color: whitesmoke;
    padding: 10px;
}
h1 a.name{
   background-color:  whitesmoke;
}
h1, .top-nav{
    text-align: center;
}
.top-nav, .top-nav li{
    width: 100%;
}
h2{
    margin:25px 0 25px 0;
    font-weight: 100;

}
h1 a, .top-nav a{
    color: #000;
}
.top-nav{
    margin-top:30px;
}
.top-nav li{
    padding: 10px 0;
    margin:5px auto;
    background-color: rgba(255, 255, 255);
    border-radius:10px;

}
.top-nav a{
    text-transform: uppercase;
}
.full{
    display: none;
}
.top{
    font-weight: bolder;
}
.paragraph{
    padding:12px;
    background-color: whitesmoke;
    color :gray;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
    font-weight: 700;
}
.con{
    padding: 30px 10px;
    line-height: 1.5;
}
#conh3{
    padding:30px;
    font-size:15px;
}
.contact{
    
    font-weight: bold;
    text-align: center;
    
}
.cotainer{
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.col{
    margin:10px;
    min-height: 250px;
    color:black;
    text-align: center;
    letter-spacing: 1px;
    padding-top:5px;
    line-height: 1.4rem;
    font-weight: 5;

}
#port{
    padding: 20px 20px 0px 20px;
    margin: 25px 0 -25px 0;
}

.box-1{
    background-color:white;
    padding: 40px 10px 10px 10px;
    margin:-10px;
}
.box-2{
    background-color: white;
    padding: 40px 10px 10px 10px;
    margin:-10px;

}
.box-3{
    background-color: white;
    padding: 40px 10px 10px 10px;
    margin:-10px;
}
.box-4{
    background-color: white;
    padding: 40px 10px 10px 10px;
    margin:-10px;
}
.box-5{
    background-color: white;
    padding: 40px 10px 10px 10px;
    margin:-10px;
}
.box-6{
    background-color: white;
    padding: 40px 10px 10px 10px;
    margin:-10px;
}
/*-------------------------------------------------------------------------
---------------------------------------------------------------------------
-------------------Media Queries--------------------------------------------*/
@media(min-width: 768px){
    .top{
        display: none;
    }
    .full{
        display: inline-block;
        margin-left: 20px;
    }
    .wrap{
        min-height: calc(100vh - 21.6px);
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    

    .col{
        flex-basis: calc(50%-20px);

    }
    .top-nav{
        margin-top:0;
    }
    .top-nav li{
        display: inline-block;
        width: auto;
        margin-right:15px;
        background-color: transparent;
    }
    .top-nav li:last-child{
        margin-right:0;
    }
    .top-nav a{
        color: #fff;
    }
}
@media (min-width: 1024px){
    nav{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .top-nav,
    .top-nav li{
        width: initial;
        margin-bottom: 0;
    }
    .col{
        flex-basis: calc(33.333%-20px);
    }
}